body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color:#021C1E;
    height: 1000px;
    width: 200px;
    color: white;
}
.header .img_header{
    margin-top: 100px;
    width: 190px;
    height: 180px;
    border-radius: 150px;
    margin-left: 2px;
    border: 3px solid white;
}
.header .menuizquierda {
    display: flex;
    width: 100px;
    margin-top: 50px;

    
}
.header .menuizquierda li{
    padding: 20px;
    list-style-type: none;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
}
.header .img_header_dos{
    margin-top: -70px;
    width: 120px;
    height: 120px;
    margin-left: 800px;
}
.header .content{
    width: 1500px;
    height: 150px;
    background-color: #004445;
    margin-top: -200px;
    
}
.header .content h1{
     margin-left: 200px;
     padding: 50px;   
}
.info{
    text-align: center;
    margin: 0;
    font-size: large;
    color: black;
    margin-left: 250px;
    margin-top: -380px;
    

}
.info p{
    margin-top: 120px;
    width: 1100px;
    background-color: #2C7873;
}
.dinfo{
    text-align: left;
    margin: 0;
    font-size: large;
    color: black;
    margin-left: 250px;
    margin-top: -100px;
}
.dinfo{
    margin-top: 110px;
    width: 1200px;
    background-color: #6FB98F;
    height: 300px;
    padding-top: 40px;
    text-align: left;
}
.dinfo li{
    list-style-type:lower-greek;
    padding: 10px
}
.foto_chico{
    margin-top: 100px;
    width: 90px;
    height: 90px;
    border-radius: 150px;
    margin-left: 2px;
    border: 3px solid white;
}
.tinfo{
    text-align: center;
    margin: 0;
    font-size: large;
    color: black;
    margin-left: 250px;
    margin-top: -380px;
}

.tinfo p{
    margin-top: -100px;
    width: 1100px;
    background-color: #2C7873;
}
.cinfo{
    margin-top: -250px;
    margin-left: 250px;
    width: 1200px;
    background-color: #6FB98F;
    height: 300px;
    padding-top: 50px;
    color: black;
}
.cinfo .foto_cinco{
    margin-top: -200px;
    width: 200px;
    height: 200px;
    margin-left: 800px;

}
.cinfo p{
    padding-top: 300px;
    margin-left: 100px;
    color: black; 
}
.cinfo .cinfo_lista li{
    list-style-type:georgian;
    padding: 10px
    
} 
.footer{
    text-align: center;
    background-color: #004445;
    padding: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.iconos a img{
    width: 80px;
    height: 80px;
    padding: 20px;


}
